<mat-toolbar style="font-size: 16px; font-weight: 500;">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>

  <span>Carlos Acevedo</span>
  <span class="spacer"></span>

  <button mat-button style="margin-right: 1rem; border-radius: 10px;">Proyectos</button>
  <button mat-button style="margin-right: 1rem; border-radius: 10px;">Sobre mí</button>
  <button mat-button style="margin-right: 1rem; border-radius: 10px;">Contacto</button>

  <button mat-mini-fab style="margin-right: 0.5rem;" aria-label="Example icon-button with heart icon">
    <mat-icon>code</mat-icon>
  </button>
  <button mat-mini-fab style="margin-left: 0.5rem;" aria-label="Example icon-button with share icon">
    <mat-icon>alternate_email</mat-icon>
  </button>

</mat-toolbar>
