<div id="projects" class="projects-content animate-fade-in">

    <div class="projects-title animate-slide-up">
        <h1>Proyectos destacados</h1>
        <span class="projects-subtitle">Una selección de mis trabajos recientes. Cada proyecto es una historia de
            desafíos, aprendizaje y soluciones creativas.</span>
        <button (click)="goToProjects()" mat-stroked-button class="btn-secondary">Ver todos los proyectos</button>
    </div>

    <div class="grid grid-nogutter animate-slide-up delay-100">

        @for(project of projects(); track project.id){

            <div class="col-3 p-2 mb-3" (click)="goToProject(project)">
                <mat-card class="project-card">
                    <div class="project-image-container">
                        <img [ngSrc]="project.image" [alt]="project.name" width="300" height="200" class="project-image">
                    </div>

                    <div class="project-content">
                    <h2>{{project.name}}</h2>
                    <p class="project-description">{{project.description}}</p>

                    <div class="project-chips">
                        <mat-chip-set cdkDropList cdkDropListOrientation="horizontal">
                            @for(tech of project.technologies; track tech){
                            <mat-chip cdkDrag>{{tech}}</mat-chip>
                            }
                        </mat-chip-set>
                    </div>
                </div>

                <div class="project-actions">
                    <button mat-raised-button class="btn-primary" (click)="goToRepo(project, $event)">
                        Ver repositorio
                    </button>
                </div>
                </mat-card>
            </div>

            
        }

    </div>
</div>