.layout {
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
}

.header-layout {
  position: fixed;
  z-index: 1000;
  top: 0;
  width: 80%;
  margin: 0 auto;
  left: 0;
  right: 0;
}


