.hero-content{
  max-height: 100vh; 
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  justify-content: center; 
  gap: 2rem;
}

.hero-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  margin: 0 auto;
  text-align: center;
}

.hero-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-chips {
  display: flex;
  justify-content: center;
  align-items: center;
}

