<div class="about-content">
    <div class="about-title">
        <h1 style="font-size: 40px; margin: 0 auto;">Sobre mí</h1>
        <span style="color: grey; text-align: center; margin-top: 2rem">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quod. 
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quod. 
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quod.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quod.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quod.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quod.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quod.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quod.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quod.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quod.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quod.
        
        
        </span>
    </div>
    
</div>