.content {
   
    width: 80%;
    margin: 0 auto;

}

.main-content {
    display: flex; 
    flex-direction: column; 
    gap: 5rem; 
}

.back-button {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-bottom: 1rem;
}
