.project-gallery{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
}

.project-gallery-image{
    object-fit: contain;
    transition: all 0.3s ease;
}

.project-gallery-image:hover{
    transform: scale(1.1);
}

