<div class="project-gallery">
    <h1>Gallery</h1>

    <div class="grid grid-nogutter">

        @for(image of gallery; track $index) {
            <div class="col-6">
                <div class="p-3">
                    <mat-card style="width: 100%; height: auto">
                        <img mat-card-image class="project-gallery-image" width="100%" height="auto" src="{{image}}" alt="Project Image">
                    </mat-card>
                </div>
            </div>
        }

    </div>
</div>
