<div 
    style="display: flex; justify-content: center; align-items: start; flex-direction: column; width: 75%; margin: 0 auto; gap: 2rem;"
    >
    <div style="display: flex; flex-direction: column; width: 100%;">
        <h1 style="font-size: 40px; margin-bottom: 0;">Proyectos</h1>
        <span style="color: grey;">Una breve descripción de mi desarrollo laboral, educación y experiencia.</span>
    </div>
    <project-filter></project-filter>
    <project-list [projects]="projects" style="width: 100%;"></project-list>
</div>