.project-overview{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    width: 100%;
    
}

.example-list-wrapping {
    max-width: 500px;
}
