<div class="project-overview">
    <div class="grid grid-nogutter" style="width: 100%;">

        <div class="col-6" style="border-right: 1px solid #666;">
            <div>
                <div style="display: flex; flex-direction: column; justify-content: start; align-items: start;" >
                    <h1> Project Overview</h1>
                    <span></span>
                </div>
            </div>
        </div>

        <div class="col-6">
            <div class="ml-3">
                <div style="display: flex; flex-direction: column; justify-content: start; align-items: start;" >
                    <h1 style="font-size: 20px;"> The Challenge </h1>
                    <span style="font-size: 16px; color: #666;">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quod.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quod.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quod.
                    </span>
                </div>

                <div style="display: flex; flex-direction: column; justify-content: start; align-items: start;" >
                    <h1 style="font-size: 20px;"> The Solution </h1>
                    <span style="font-size: 16px; color: #666;">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quod.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quod.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quod.
                    </span>
                </div>

                <div style="display: flex; flex-direction: column; justify-content: start; align-items: start;" >
                    <h1 style="font-size: 20px;"> The impact </h1>
                    <span style="font-size: 16px; color: #666;">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quod.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quod.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quod.
                    </span>
                </div>
            </div>
        </div>

    </div>

    <div style="display: flex; flex-direction: column; justify-content: center; align-items: center; margin-top: 2rem;">
        <h1 style="font-size: 20px;"> Tech Stack </h1>
        <div style="display: flex; flex-direction: row; justify-content: center; align-items: center;">
            <button mat-stroked-button style="border-radius: 10px; margin: 0.5rem;">Angular</button>
            <button mat-stroked-button style="border-radius: 10px; margin: 0.5rem;">Angular</button>
            <button mat-stroked-button style="border-radius: 10px; margin: 0.5rem;">Angular</button>
            <button mat-stroked-button style="border-radius: 10px; margin: 0.5rem;">Angular</button>
            <button mat-stroked-button style="border-radius: 10px; margin: 0.5rem;">Angular</button>
        </div>
    </div>
</div>
