/* You can add global styles to this file, and also import other style files */

/* --------------------------------------------- */
/*                   SWIPPER                     */
/* --------------------------------------------- */
@import "swiper/css";             /* núcleo */
@import "swiper/css/navigation";  /* flechas */
@import "swiper/css/pagination";  /* puntitos, opcional */
@import 'swiper/css/autoplay';

/* --------------------------------------------- */
/*                   HTML                        */
/* --------------------------------------------- */
html, body { height: 100%; }
body {
  margin: 0;
  font-family: "Space Grotesk", sans-serif;
  background-color: #151515;
  color: white;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.border-test {
  border: 1px solid white;
}

swiper-container::part(button-next),
swiper-container::part(button-prev) {
  color: white;
}


